@media (max-width: 768px) {
  .header .logo {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .header .heading {
    font-size: 24px;
    padding-left: 0;
    padding: 10px 20px;
  }

  .doctor-container h3 {
    font-size: 16px;
    padding-left: 0;
    text-align: center;
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .appointments-col h5,
  .content-col h5.clickable {
    font-size: 1rem;
    padding: 8px;
  }

  .appointments-col {
    padding: 10px;
    max-height: 300px;
  }

  .content-col h5.clickable {
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .appointments-col h5,
  .content-col h5.clickable {
    font-size: 1.1rem;
    padding: 9px;
  }

  .content-col h5.clickable {
    border-radius: 5px;
  }
}

body {
  overflow-x: hidden;
}

.appointment-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  justify-content: center;
  gap: 10px;
}

.appointment-card {
  width: 180px;
  min-height: 130px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.appointment-card:hover {
  transform: scale(1.02);
}

.selected-slot {
  border: 2px solid #3795bd !important;
}

.appointment-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-height: 450px;
  overflow-y: auto;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .appointment-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .appointment-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
